<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.community.mapper.StallMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.community.pojo.Stall" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_id" property="carId" jdbcType="VARCHAR" />
    <result column="car_color" property="carColor" jdbcType="VARCHAR" />
    <result column="car_state" property="carState" jdbcType="INTEGER" />
    <result column="car_describe" property="carDescribe" jdbcType="VARCHAR" />
    <result column="parkingdeadline" property="parkingdeadline" jdbcType="DATE" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, car_id, car_color, car_state, car_describe, parkingdeadline, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.community.pojo.StallExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stall
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stall
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.community.pojo.StallExample" >
    delete from stall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.community.pojo.Stall" >
    insert into stall (id, car_id, car_color, 
      car_state, car_describe, parkingdeadline, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{carId,jdbcType=VARCHAR}, #{carColor,jdbcType=VARCHAR}, 
      #{carState,jdbcType=INTEGER}, #{carDescribe,jdbcType=VARCHAR}, #{parkingdeadline,jdbcType=DATE}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.community.pojo.Stall" >
    insert into stall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="carColor != null" >
        car_color,
      </if>
      <if test="carState != null" >
        car_state,
      </if>
      <if test="carDescribe != null" >
        car_describe,
      </if>
      <if test="parkingdeadline != null" >
        parkingdeadline,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="carColor != null" >
        #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carState != null" >
        #{carState,jdbcType=INTEGER},
      </if>
      <if test="carDescribe != null" >
        #{carDescribe,jdbcType=VARCHAR},
      </if>
      <if test="parkingdeadline != null" >
        #{parkingdeadline,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.community.pojo.StallExample" resultType="java.lang.Integer" >
    select count(*) from stall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stall
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=VARCHAR},
      </if>
      <if test="record.carColor != null" >
        car_color = #{record.carColor,jdbcType=VARCHAR},
      </if>
      <if test="record.carState != null" >
        car_state = #{record.carState,jdbcType=INTEGER},
      </if>
      <if test="record.carDescribe != null" >
        car_describe = #{record.carDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.parkingdeadline != null" >
        parkingdeadline = #{record.parkingdeadline,jdbcType=DATE},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stall
    set id = #{record.id,jdbcType=INTEGER},
      car_id = #{record.carId,jdbcType=VARCHAR},
      car_color = #{record.carColor,jdbcType=VARCHAR},
      car_state = #{record.carState,jdbcType=INTEGER},
      car_describe = #{record.carDescribe,jdbcType=VARCHAR},
      parkingdeadline = #{record.parkingdeadline,jdbcType=DATE},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.community.pojo.Stall" >
    update stall
    <set >
      <if test="carId != null" >
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="carColor != null" >
        car_color = #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carState != null" >
        car_state = #{carState,jdbcType=INTEGER},
      </if>
      <if test="carDescribe != null" >
        car_describe = #{carDescribe,jdbcType=VARCHAR},
      </if>
      <if test="parkingdeadline != null" >
        parkingdeadline = #{parkingdeadline,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.community.pojo.Stall" >
    update stall
    set car_id = #{carId,jdbcType=VARCHAR},
      car_color = #{carColor,jdbcType=VARCHAR},
      car_state = #{carState,jdbcType=INTEGER},
      car_describe = #{carDescribe,jdbcType=VARCHAR},
      parkingdeadline = #{parkingdeadline,jdbcType=DATE},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>